<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <h1>heloo from post/new </h1>
    <form method="post" action="/posts">
        <input type="username" name="username" placeholder="username"></br>
        </br>
        <input type="content" name="content" placeholder="post"></br>
        </br>
        <button>Submit</button>
    </form>
</body>
</html>